<div class="container">

    <% if notice.present? %>
          <div class="alert alert-info" role="alert">
            <%= notice %>
          </div>
    <% end %>

<h3 class="text-white"><%= @artist.name %></h3>
<p>Description: <br> <%= @artist.description %></p>

<div class="row">
    <div class="col-m-d4 left" id="artists_squares">
<img class="img_show_artist" src="<%= @artist.photo.image %>"/>
</div>

<div class="col-m-d8 right" id="artists_squares">


<h4> Listed songs: </h4>
<table id="songList">
   <%= render @artist.songs %>
</table>

<h4> Delete all songs </h4>

</div>

<div class="col-m-d12">
  <h4> Add a new song: </h4>
    <%= render 'songs/form_new', song: @song %>
</div>

<div>

<button type="button" class="btn btn-secondary btn-sm"><%= link_to "All Artists", root_path %></button>

<button type="button" class="btn btn-secondary btn-sm"><%= link_to "Delete Artist", artist_path(@artist.id), method: :delete, data: { confirm: "Are you sure?" } %></button>

</div>

</div>
